body{
    position: relative;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 5%;
    font-family: 'Poppins', sans-serif;
    background-color:#e4e3e3;
}



.overlay{
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(100, 100, 100, 0.4);
}

.modal{
    display: grid;
    width: 375px;
    margin: 15% auto auto;
    position: relative;
    text-align: center;
    background: #fff;
    border: 1px solid #778;
    border-radius: 5px;
    padding: 30px 20px;
}

.modal-close{
    position: absolute;
    right: 15px;
    top: 5px;
    cursor: pointer;
    background-color: white;
    border-left: white;
    border-right: white;
    border-top: white;
    border-bottom: white;
}

.hidden{
    display: none;
}


.card{
    display: flex;
    border-style: solid;
    border-color: lightgray;
    flex: 1 0 25%;
    /* margin-right: 2em; */
    margin-top: 3em;    
    border-radius: 25px;
    background-color: white;
    text-align: left;
    

    
}

.grid-container{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 15px;
    /* flex-wrap: wrap; */
    
}

.avatar{
    border-radius: 60px;
    margin-left: 1em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    width: 80px;
}

.text-container{
    float: right;
    margin-top: 2em;
    margin-left: 1em;
}

h2.name{
    margin: 0;
    font-size: large;
}

p.email{
    margin: 0;
    font-size: small;
}

p.address{
    margin: 0;
    font-size: small;
}

.modal-content{
    display: grid;
}

.modal-content .avatar{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    
}

